services:

# define backend service
  beeyond-backend:
    build:
      context: "beeyond-backend"
      dockerfile: "Dockerfile"
    networks:
      - beeyond-network
    ports:
      - 5000:5000
    depends_on:
      - mongo
    environment:
      - PORT=5000
      - DATABASE_CONNECTION_STRING=mongodb://admin:admin@mongo:27017/abhishek?authSource=admin
      - FRONTEND_URL=http://localhost:3000
      - JWT_SECRET=super-secret-key-123
    command: ['node','index.js']
    healthcheck:
      test: curl -f http://localhost:5000/health || exit 1
      interval: 60s
      timeout: 3s
      retries: 3
      start_period: 40s

# define frontend-service 
  beeyond-frontend:
    build:
      context: "beeyond-frontend"
      dockerfile: 'Dockerfile'
      args:
        REACT_APP_SERVER_URL: http://localhost:5000
    networks:
      - beeyond-network
    ports:
      - 3000:3000
    depends_on:
      - beeyond-backend
    healthcheck:
      test: curl -f http://localhost:3000/health || exit 1
      interval: 60s
      timeout: 3s
      retries: 3
      start_period: 40s

  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: unless-stopped
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
# define mongo servcice 
  mongo: 
    image: mongo
    restart: always
    ports:
      - 27017:27017
    networks:
      - beeyond-network
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin

# define mongo express service 
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    networks:
      - beeyond-network    



# define network so service and communicate with each other 
networks:
  beeyond-network:
    driver: bridge