apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: beeyond
spec:
  replicas: 5
  selector:
    matchLabels:
      name: frontend
  template:
    metadata:
      labels:
        name: frontend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: beeyond-frontend
          image: abhisheksankhla121/ks-beeyond-frontend:latest
          imagePullPolicy: Always