services:

# define backend service
  beeyond-backend:
    build:
      context: "../beeyond-backend/"
      dockerfile: "Dockerfile"
    volumes:
      - ../beeyond-backend:/app/:cached
      - beeyond_backend_node_modules:/app/node_modules
    networks:
      - beeyond-network
    ports:
      - 5000:5000
    depends_on:
      - mongo
    environment:
      - PORT=5000
      - DATABASE_CONNECTION_STRING=mongodb://admin:admin@mongo:27017/abhishek?authSource=admin
      - FRONTEND_URL=http://localhost:3000
      - JWT_SECRET=super-secret-key-123
    # command: sleep infinity
    command: ['npx','nodemon','index.js']

# define frontend-service 
  beeyond-frontend:
    build:
      context: "../beeyond-frontend"
      dockerfile: 'Dockerfile'
    volumes:
      - ../beeyond-frontend:/usr/src/beeyond-frontend:cached
      - beeyond_frontend_node_modules:/usr/src/beeyond-frontend/node_modules
    networks:
      - beeyond-network
    ports:
      - 3000:3000
    depends_on:
      - beeyond-backend
    environment:
      - CHOKIDAR_USEPOLLING=true     

# define mongo servcice 
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    networks:
      - beeyond-network
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin

# define mongo express service 
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    networks:
      - beeyond-network    


#  define all volumes here 
volumes:
  beeyond_backend_node_modules:
  beeyond_frontend_node_modules:

# define network so service and communicate with each other 
networks:
  beeyond-network:
    driver: bridge